:root {
    --white: #fff;
    --black: #121212;
    --dark: #1B1B1B;
    --gray: #8C8C8C;
    --gray-light: #F5F5F5;
    --gray-dark: rgba(38, 38, 38, 1);
    --green: #7ACA37;
    --gradient-blue: linear-gradient(0deg, #3321BC, #3321BC);

    --gradient-green: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);

}