// LARGE 
@media screen and(min-width: 1355px) {
    
}

// DESCTOP
@media screen and(max-width: 1199px) {
    .header {
        .nav {

            &__search {
                width: 250px;
            }
            &__btn {
                width: auto;
                padding: 0 10px;
                font-size: 14px;
            }
            &__address {
                font-size: 14px;
            }
            .whatsapp {
                font-size: 14px;
            }
            .workDay {
                font-size: 11px;
            }
        }
        &-item {
            &__link {
                font-size: 16px;
            }
        }
        &-list {
            &__link {
                font-size: 15px;
            }
        }
    }
    // End header

    .wrapper {
        height: auto;
        &__sup-text {
            font-size: 24px;
        }
        &__title {
            font-size: 75px;
            line-height: 75px;
        }
        &-list {
            padding: 0 20px;
            margin-top: 20px;
            .line {
                right: 0px;
            }
        } 
    }
    // End wrapper

    .slider {
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &-sort {
            width: 250px;
            height: 50px;
            font-size: 18px;
        }
        .owl-carousel {
            margin-top: 70px;

            .item {
                background-color: rgba(27, 27, 27, 1);
                padding: 20px 25px;
            }
            &-list {
                width: 48.5%;
                height: 350px;
            }
            &__title {
                font-size: 50px;
                line-height: 55px;
            }
            &__text {
                font-size: 20px;
            }
            &__btn {
                width: 250px;
                height: 50px;
            }
        }
    }
    .carousel-control-next {
        right: 0px;
    }
    // End Carousel

        
    .our-team {
        .meneger {
            height: 450px;
            &__name {
                font-size: 20px;
            }
            &__info {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 50px;
            line-height: 50px;
        }
        &__text {
            font-size: 18px;
            line-height: 26px;
        }
        &-list {
            &__text {
                font-size: 18px;
            }
        }
        &__btn {
        }
    }
    // End our-team
}

// TABLET
@media screen and(max-width: 992px) {
    .header {
        .nav {
            &__address {
                width: 250px;
            }
        }
        &-item {
            &__link {
                font-size: 14px;
            }
        }
        &-list {
            top: 34px;
            width: 150px;
            padding: 10px 5px;
            &__link {
                font-size: 14px;
            }
        }
    }
    // End header

    .wrapper {
        &__sup-text {
            font-size: 22px;
        }
        &__title {
            font-size: 50px;
            line-height: 55px;
        }
        &-item {
            padding: 15px 20px;
        }
        &-form {
            &__title {
                font-size: 22px;
            }
            .debt, &__inp {
                font-size: 22px;
            }
            &__btn {
                font-size: 22px;
            }
        }
    }
    // End wrapper

    .our-company {
        &-item {
            width: 33%;
            margin-top: 20px;
        }
    }   
    // End our-company
    
    .project {
        padding: 100px 0;

        .compact__button--big{
            width: 80px;
            height: 50px;
            border-radius: 15px;
            font-size: 30px;
        }

        &-item {
            padding: 35px 0;
            .line-right {
                left: 0;
                top: 100%;
                width: 100%;
                height: 4px;
            }
        }
    }
    // End project

    .reviews {
        padding: 80px 0 160px 0;

        &__title {
            font-size: 40px;
            line-height: 48px;
        }
        &-info {
            width: 100%;
            &__num {
                font-size: 55px;
            }
            &__grade {
                font-size: 24px;
            }
            &__btn {
                width: auto;
                padding: 0 10px;
                height: 50px;
                font-size: 18px;
                margin-left: 20px;
            }
        }
        .owl-carousel {
            .item {
                padding: 24px;
                .user__name {
                    font-size: 40px;
                }
            }
            &-info {
                .review__text {
                    font-size: 16px;
                }
            }
        }
    }
    // reviews

    .agreement {
        &__title {
            font-size: 40px;
        }
        &-item {
            width: 30%;
            .circle {
                font-size: 32px;
            } 
        }
    }
    // End agreement

    .footer{
        &-item {
            &__title {
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 24px;
            }
        }
    
        &-contact {
            &__phone {
                font-size: 32px;
            }
            &__email {
                font-size: 32px;
            }
            &__address {
                font-size: 20px;
            }
        }
    }
    // End footer
    
}

@media screen and(max-width: 768px) {
    .wrapper {
        &__sup-text {
            text-align: center;
            margin-bottom: 40px;
        }
        &__title {
            text-align: center;
        }
        &-item {
            padding: 15px 20px;
        }
        &-form {
            &__title {
                font-size: 22px;
            }
            .debt, &__inp {
                font-size: 22px;
            }
            &__btn {
                font-size: 22px;
            }
        }
        &-sub-line {
            right: 0;
            width: 100%;
            height: 4px;
            top: 100%;
        }
        .cons_icon {
            margin-right: 15px;
        }
    }
    // End wrapper

    .our-company {
        &-item {
            width: 50%;
            margin-top: 20px;
        }
    }   
    // End our-company

    .slider {
        &__title {
            font-size: 32px;
            line-height: 40px;
            font-weight: 400;
        }
        &-sort {
            width: 250px;
            height: 50px;
            font-size: 18px;
        }
        .owl-carousel {
            .item {
                padding: 20px 15px;
            }
            &-list {
                width: 100%;
                height: auto;
                &:nth-child(2) {
                    height: 300px;
                }
            }
            &__title {
                font-size: 40px;
                line-height: 45px;
                margin: 15px 0;
            }
            &__text {
                font-size: 20px;
            }
            &__btn {
                margin-top: 20px;
            }
        }
    }
    
    .owl-next {
        right: -15px;
    }
    // End Carousel

    
    .our-team {
        .meneger {
            width: 50%;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            &__name {
                font-size: 24px;
            }
            &__info {
                font-size: 16px;
            }
        }
        &__title {
            font-size: 32px;
            line-height: 32px;
            margin-top: 24px;
        }
        &__text {
            font-size: 18px;
            line-height: 26px;
        }
        &-list {
            &__text {
                font-size: 16px;
            }
        }
        &__btn {
            width: 90%;
        }
    }
    // End our-team

    
    .agreement {
        &__title {
            font-size: 40px;
        }
        &-item {
            width: 50%;
        }
    }
    // End agreement

    
    .news {
        padding-top: 40px;
        padding-bottom: 120px;
        &__title {
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            width: 100%;
        }
        &__allBtn {
                position: absolute;
                bottom: 24px;
                left: 50%;
                transform: translateX(-50%);
        }
        &-item {
            margin-top: 24px;
            &-photo {
                height: 236px;
            }
            &-info {
                &__title {
                    font-size: 22px;
                    line-height: 26px;
                    height: 55px;
                }
                &__text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            &-info-last {

                &__title {
                    font-size: 24px;
                    line-height: 26px;
                }
                &__text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    // End news
}

// MOBILE
@media screen and(max-width: 576px) {
    .header {
        .nav {
        &__search-mobile {
            width: 150px !important;
        }
        } 
    }   
    .mobile-menu {
         width: 100%;
     }
    // End header

    
    .wrapper {
        &__sup-text {
            font-size: 16px;
        }
        &__title {
            font-size: 40px;
            line-height: 48px;
        }
        &-item {
            padding: 16px;
        }
        &-form {
            &__title {
                font-size: 16px;
            }
            .debt, &__inp {
                font-size: 16px;
            }
            &__btn {
                font-size: 16px;
            }
        }
        &-sub-line {
            right: 0;
            width: 100%;
            height: 4px;
            top: 100%;
        }
        .cons_icon {
            margin-right: 15px;
        }
        &-list__title {
            font-size: 32px;
            line-height: 38px;
            margin-top: 25px;
            text-align: center;
        }
        &-list {
            padding: 0;
            margin-top: 20px;
            justify-content: space-between;
            .line {
                display: none;
            }
        } 
    }
    // End wrapper

    .our-company {
        padding: 0 0 40px 0;
        &__title {
            font-size: 32px;
            line-height: 38px;
        }
        &-item {
            width: 100%;
            margin-top: 20px;
        }
    }   
    // End our-company

    .whyChooseUs {
        &__title {
            font-size: 32px;
            line-height: 38px;
        }
    }

    .slider {
        &-sort {
            width: 100%;
            &:nth-child(2) {
                margin-top: 15px;
            }
        }
        &-btns {
            width: 100%;
        }
        .owl-carousel {
            .item {
                padding: 24px;
            }
            &-list {
                &:nth-child(2) {
                    height: 200px;
                }
                a, button {
                    width: 100%;
                }
            }
            &__title {
                font-size: 32px;
                line-height: 40px;
                margin: 15px 0;
            }
            &__text {
                font-size: 16px;
            }
            &__btn {
                width: 100%;
                font-size: 16px;
                margin-top: 20px;
            }
        }
        &__sub-text {
            font-size: 16px;
        }
    }
    .carousel-control-next {
        right: 0px;
    }
    // End Carousel

    .questions {
        &__title {
            font-size: 32px;
        }
        &__sub-title {
            font-size: 16px;
        }
        &-form {
            &__inp {
                width: 100%;
                font-size: 16px;
            }
            &__btn {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    // End questions

    .project {
        padding: 40px 0;
        .compact__button--big{
            width: 54px;
            height: 36px;
            border-radius: 10px;
            font-size: 25px;
        }
        .compact__controls {
            width: 90%;
            padding: 2px;
            .progress {
                height: 4px;
            }
        }
    }
    // End project

    
    .reviews {
        padding: 80px 0;
        position: relative;

        &__title {
            font-size: 32px;
            line-height: 38px;
        }
        &-info {
            width: 100%;
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 30px;
            &__num {
                font-size: 64px;
            }
            &__btn {
                width: 95% !important;
                height: 50px;
                font-size: 16px;
                margin-right: 15px;
                margin-left: 0;
            }
        }
        .owl-carousel {
            margin-bottom: 130px;
            .item {
                padding: 24px;
                .user__name {
                    font-size: 32px;
                    margin-left: 10px;
                }
            }
            &-info {
                padding-left: 0;
                .review__text {
                    font-size: 16px;
                }
            }
        }
    }
    // reviews

    
    .our-team {
        padding-bottom: 24px;
        .meneger {
            width: 75%;
        }
        &-list {
            width: 100%;
            text-align: start;
            &__text {
                font-size: 16px;
            }
        }
        &__btn {
            width: 90%;
        }
    }
    // End our-team

    
    .agreement {
        padding: 24px 0;
        &__title {
            font-size: 32px;
            margin: 0;
        }
        &-item {
            width: 100%;
            margin-top: 25px;
            .circle {
                margin-bottom: 8px;
            }
            .lines {
                display: none !important;
            }
        }
    }
    // End agreement

    .footer {
        .mobile-col {
            flex-direction: column;
        }
        &-item {
            &:last-child {
                margin-top: 24px;
            }
        }
        &-contact {
            &__phone, &__email, &__address {
                font-size: 24px;
            }
        }
    }
    
}

@media screen and(max-width: 420px) {
    .our-team {
        .meneger {
            width: 90%;
        }
    }
}