:root {
  --white: #fff;
  --black: #121212;
  --dark: #1B1B1B;
  --gray: #8C8C8C;
  --gray-light: #F5F5F5;
  --gray-dark: rgba(38, 38, 38, 1);
  --green: #7ACA37;
  --blue: #1890FF;
  --gradient-blue: linear-gradient(0deg, #3321BC, #3321BC);
  --gradient-green: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Gilroy', sans-serif;
  overflow-x: hidden;
  position: relative;
}

section {
  overflow-x: hidden;
}

input, textarea, button {
  outline: none;
  border: none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
  border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: var(--gradient-green);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

button:hover {
  background: -webkit-linear-gradient(229.81deg, #098C58 15.98%, #2C9F4E 28.3%, #56B641 48.98%, #70C53A 75.34%, #7ACA37 94.49%);
  background: -o-linear-gradient(229.81deg, #098C58 15.98%, #2C9F4E 28.3%, #56B641 48.98%, #70C53A 75.34%, #7ACA37 94.49%);
  background: linear-gradient(220.19deg, #098C58 15.98%, #2C9F4E 28.3%, #56B641 48.98%, #70C53A 75.34%, #7ACA37 94.49%);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, p {
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.15;
  text-decoration: none;
}

.container {
  max-width: 1320px;
}

.header .nav {
  background-color: var(--dark);
}

.header .nav__search {
  width: 400px;
  background: transparent;
  border-bottom: 2px solid var(--gray-dark);
  height: 35px;
  color: var(--white);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header .nav__search::-webkit-input-placeholder {
  color: var(--gray);
}

.header .nav__search:-ms-input-placeholder {
  color: var(--gray);
}

.header .nav__search::-ms-input-placeholder {
  color: var(--gray);
}

.header .nav__search::placeholder {
  color: var(--gray);
}

.header .nav__search:focus {
  border-bottom: 2px solid var(--green);
}

.header .nav__search-icon {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
}

.header .nav__btn {
  width: 176px;
  height: 40px;
}

.header .nav__btn:hover {
  color: var(--white);
}

.header .nav__address {
  color: var(--gray-light);
  font-size: 16px;
}

.header .nav .whatsapp {
  color: var(--gray-light);
}

.header .nav .burger {
  width: 24px;
  height: 16px;
}

.header .nav .burger__list {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}

.header .nav__search-mobile {
  width: 300px !important;
}

.header-sub {
  height: auto;
  background: var(--gradient-green);
  position: relative;
  z-index: 5;
}

.header .line {
  width: 1px;
  height: 23px;
  background-color: var(--gray-dark);
}

.header-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
  height: 47px;
}

.header-item__link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: 18px;
  font-weight: 400;
}

.header-item__link:hover {
  color: var(--white);
}

.header-item__link:hover path {
  fill: var(--white);
}

.header-list {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 180px;
  height: auto;
  padding: 20px 10px;
  background: var(--gradient-green);
  text-align: center;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  z-index: 0;
  display: none;
}

.header-list li {
  margin-top: 10px;
}

.header-list__link {
  color: var(--dark);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: 18px;
  font-weight: 400;
}

.header-list__link:hover {
  color: var(--white);
}

.header .header-item:hover .header-list {
  display: block;
}

.mobile-menu {
  right: -600px;
  width: 400px;
  height: 100vh;
  background-color: var(--black);
  font-weight: 400;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding-bottom: 25px;
  z-index: 999;
  overflow-y: scroll;
}

.mobile-menu-item {
  margin-top: 100px;
}

.mobile-menu__list {
  margin-bottom: 16px;
  height: 20px;
  overflow-y: hidden;
  -webkit-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.mobile-menu__list:last-child {
  margin-bottom: 0;
}

.mobile-menu__list a:hover {
  color: var(--green);
}

.mobile-menu__link {
  color: var(--white);
  font-size: 18px;
}

.mobile-menu__link svg {
  margin-left: 5px;
}

.mobile-menu .info-item__list {
  margin-top: 10px;
}

.mobile-menu .nav__btn {
  width: 176px;
  height: 40px;
}

.showMenu {
  right: 0;
}

.close__menu {
  top: 35px;
  right: 35px;
  width: 30px;
  cursor: pointer;
}

.openList {
  height: auto;
}

.openList .mobile-menu__link {
  color: var(--green);
}

.openList svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.openList svg path {
  fill: var(--green);
}

.workDay {
  color: var(--gray);
  font-size: 12px;
  margin-top: 5px;
}

.wrapper {
  width: 100%;
  height: 800px;
  padding: 80px 0;
}

.wrapper__bg {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.wrapper .container {
  z-index: 1;
}

.wrapper__sup-text {
  font-size: 24px;
  font-weight: 400;
  color: var(--gray);
}

.wrapper__title {
  font-size: 110px;
  font-weight: 700;
  color: var(--white);
  line-height: 110px;
}

.wrapper-item {
  width: 100%;
  height: auto;
  padding: 24px 52px;
  background: rgba(27, 27, 27, 0.82);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wrapper-form__title {
  font-size: 24px;
  font-weight: 400;
  color: var(--gray);
}

.wrapper-form__title strong {
  color: orangered;
}

.wrapper-form .debt, .wrapper-form__inp {
  height: 56px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  color: #595959;
}

.wrapper-form .debt input {
  cursor: pointer;
}

.wrapper-form .debt .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
}

.wrapper-form .debt-item {
  background-color: #fff;
  top: 50px;
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
  z-index: 5;
  max-height: 185px;
  overflow-y: scroll;
}

.wrapper-form .debt-item::-webkit-scrollbar {
  width: 4px;
}

.wrapper-form .debt-item::-webkit-scrollbar-thumb {
  background: var(--blue);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.wrapper-form .debt-list {
  padding: 5px 15px;
  cursor: pointer;
}

.wrapper-form .debt-list:hover {
  background: var(--gradient-green);
  color: var(--white);
}

.wrapper-form .debt-list:last-child {
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}

.wrapper-form__btn {
  height: 64px;
  font-size: 24px;
}

.wrapper-form__text {
  color: #595959;
  font-weight: 500;
}

.wrapper__sub-info {
  color: var(--gray);
  font-size: 24px;
}

.wrapper-sub-line {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: 3px;
  height: 144px;
  background-color: #595959;
}

.slider {
  width: 100%;
  height: auto;
  padding: 80px 0;
  background-color: var(--black);
}

.slider__title {
  color: var(--gray-light);
  font-size: 40px;
  line-height: 48px;
}

.slider-sort {
  width: 290px;
  height: 63px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: var(--gray);
  background: #fff;
  font-size: 24px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.slider-sort:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#3321BC), to(#3321BC));
  background: -webkit-linear-gradient(bottom, #3321BC, #3321BC);
  background: -o-linear-gradient(bottom, #3321BC, #3321BC);
  background: linear-gradient(0deg, #3321BC, #3321BC);
  color: #fff;
}

.slider .active-sort {
  background: -webkit-gradient(linear, left bottom, left top, from(#3321BC), to(#3321BC));
  background: -webkit-linear-gradient(bottom, #3321BC, #3321BC);
  background: -o-linear-gradient(bottom, #3321BC, #3321BC);
  background: linear-gradient(0deg, #3321BC, #3321BC);
  color: #fff;
}

.slider .owl-carousel {
  margin-top: 70px;
}

.slider .owl-carousel .item {
  background-color: var(--dark);
  padding: 32px 48px;
}

.slider .owl-carousel-list {
  width: 48.5%;
  height: 465px;
}

.slider .owl-carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.slider .owl-carousel__title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
}

.slider .owl-carousel__text {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray);
}

.slider .owl-carousel__btn {
  width: 294px;
  height: 48px;
  font-weight: 700;
}

.slider__sub-text {
  color: var(--gray);
  font-size: 24px;
  font-weight: 400;
}

.owl-nav button {
  width: 48px;
  height: 48px;
  background: #fff !important;
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 55px !important;
  color: #000 !important;
  outline: none !important;
}

.owl-nav button span {
  position: absolute;
  top: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 48px !important;
  height: 48px !important;
  z-index: 99;
  font-family: serif;
  font-weight: 100;
}

.owl-nav button:hover {
  background: var(--gradient-green) !important;
  color: #fff !important;
}

.owl-prev {
  opacity: 0;
}

.owl-next {
  right: -25px;
}

.questions {
  width: 100%;
  padding: 80px 0;
  background-image: url("../../images/png/discount.png");
  -webkit-background-size: cover;
          background-size: cover;
}

.questions__title {
  font-size: 40px;
  font-weight: 400;
  color: var(--gray-light);
}

.questions__sub-title {
  font-size: 24px;
  font-weight: 400;
  color: var(--gray);
}

.questions-form__inp {
  width: 320px;
  height: 64px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #F0F0F0;
  font-size: 24px;
  color: #595959;
}

.questions-form__btn {
  width: 320px;
  height: 64px;
  color: var(--white);
  font-size: 24px;
}

.project {
  width: 100%;
  padding: 160px 0;
  background-color: #121212;
}

.project .compact__button--big {
  width: 102px;
  height: 70px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: var(--gradient-green);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  font-size: 50px;
}

.project .compact__controls {
  max-width: 500px;
  padding: 5px;
  font-size: 20px;
}

.project .compact__controls button:hover {
  background: transparent;
}

.project .compact__controls .compact__button {
  color: var(--green);
}

.project .compact__controls .progress {
  height: 5px;
}

.project .compact__controls .progress__filled {
  background: var(--gradient-green);
}

.project-item {
  padding: 30px 0 50px 0;
}

.project-item__text {
  font-size: 24px;
  font-weight: 400;
  color: var(--gray);
}

.project-item .line-sub, .project-item .line-right {
  position: absolute;
  background-color: var(--dark);
}

.project-item .line-sub {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.project-item .line-right {
  top: 0;
  right: -20px;
  width: 4px;
  height: 100%;
}

.reviews {
  padding: 80px 0 160px 0;
  background-color: var(--black);
}

.reviews__title {
  font-size: 40px;
  line-height: 48px;
  color: var(--gray-light);
}

.reviews-info {
  font-weight: 400;
}

.reviews-info__num {
  font-size: 64px;
  color: var(--gray-light);
}

.reviews-info__grade {
  font-size: 24px;
  color: var(--gray);
}

.reviews-info__btn {
  width: 410px;
  height: 62px;
  background: var(--gradient-blue);
  color: var(--white);
  font-size: 24px;
  margin-left: 40px;
}

.reviews .owl-carousel {
  margin-top: 40px;
}

.reviews .owl-carousel .item {
  padding: 32px 48px;
  background-color: var(--dark);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.reviews .owl-carousel .item .user-photo {
  width: 75px;
  height: 75px;
}

.reviews .owl-carousel .item .user-photo__png {
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews .owl-carousel .item .user__name {
  font-size: 80px;
  color: var(--white);
  margin-left: 40px;
}

.reviews .owl-carousel-info {
  padding-left: 110px;
  font-weight: 500;
  margin-top: 24px;
}

.reviews .owl-carousel-info .review__text {
  font-size: 24px;
  color: var(--gray);
}

.reviews .owl-carousel-control-next {
  right: -24px;
}

.our-team {
  padding: 80px 0 160px 0;
  background-image: url("../../images/png/comand.png");
}

.our-team .meneger {
  width: 100%;
  height: 518px;
  font-weight: 400;
}

.our-team .meneger__png {
  -o-object-fit: cover;
     object-fit: cover;
}

.our-team .meneger__name {
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-top: 16px;
}

.our-team .meneger__info {
  color: var(--gray);
  text-align: center;
  margin-top: 5px;
}

.our-team__title {
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  color: var(--white);
}

.our-team__text {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray);
  margin: 40px 0;
}

.our-team-list {
  width: 50%;
}

.our-team-list__text {
  font-size: 24px;
  color: var(--gray);
}

.our-team__btn {
  width: 234px;
  height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.agreement {
  padding: 80px 0;
  background-color: var(--dark);
}

.agreement__title {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 45px;
}

.agreement-item {
  width: 19%;
}

.agreement-item .circle {
  width: 45px;
  height: 45px;
  background: var(--gradient-green);
  font-size: 40px;
  font-weight: 800;
}

.agreement-item .lines {
  padding: 0 15px;
  margin: 12px 0;
}

.agreement-item .lines-circle {
  width: 8px;
  height: 8px;
  background-color: var(--blue);
}

.agreement-item .lines-left, .agreement-item .lines-right {
  width: 45%;
  height: 3px;
}

.agreement-item .lines-right {
  background-color: var(--blue);
}

.agreement-item .lines .left2 {
  background-color: var(--blue);
}

.agreement-item .lines .right2 {
  background: -webkit-linear-gradient(40deg, #1890ff, #fa541c);
  background: -o-linear-gradient(40deg, #1890ff, #fa541c);
  background: linear-gradient(50deg, #1890ff, #fa541c);
}

.agreement-item .lines .left3 {
  background-color: #FA541C;
}

.agreement-item .lines .circle3 {
  background-color: #FA541C;
}

.agreement-item .lines .right3 {
  background-color: #FA541C;
}

.agreement-item .lines .left4 {
  background: -webkit-linear-gradient(40deg, #fa541c, #389e0d);
  background: -o-linear-gradient(40deg, #fa541c, #389e0d);
  background: linear-gradient(50deg, #fa541c, #389e0d);
}

.agreement-item .lines .circle4 {
  background-color: #389E0D;
}

.agreement-item .lines .right4 {
  background-color: #389E0D;
}

.agreement-item .lines .left5 {
  background-color: #389E0D;
}

.agreement-item .lines .circle5 {
  background-color: #389E0D;
}

.agreement-item__text {
  color: var(--gray);
  line-height: 20px;
}

.news {
  padding: 160px 0;
  background-color: var(--black);
  position: relative;
}

.news__title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
}

.news__allBtn {
  width: 204px;
  height: 64px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: var(--blue);
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
}

.news-item {
  margin-top: 40px;
}

.news-item-photo {
  width: 100%;
  height: 550px;
  overflow: hidden;
  -webkit-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
}

.news-item-photo__png {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
}

.news-item-photo:hover .news-item-photo__png {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.news-item-info {
  background: var(--gradient-green);
  padding: 32px;
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}

.news-item-info__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.news-item-info__title:hover {
  color: var(--gray-dark);
}

.news-item-info__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 16px;
}

.news-item .photo-last {
  height: 236px;
}

.news-item-info-last {
  background: var(--dark);
  padding: 32px;
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}

.news-item-info-last__title {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.news-item-info-last__title:hover {
  color: var(--gray);
}

.news-item-info-last__text {
  color: var(--gray);
  margin-top: 8px;
}

.footer {
  padding-top: 80px;
  background-image: url("../../images/png/comand.png");
}

.footer-item__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer-item__list {
  margin-bottom: 10px;
}

.footer-item__list:last-child {
  margin-bottom: 0;
}

.footer-item__link {
  font-weight: 400;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-item__link:hover {
  color: var(--green);
}

.footer-contact__text {
  color: var(--gray);
}

.footer-contact__phone {
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-contact__phone:hover {
  color: var(--green);
}

.footer-contact__email {
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
}

.footer-contact__address {
  font-size: 24px;
  color: var(--white);
}

.footer-sub {
  margin-top: 80px;
  width: 100%;
  height: auto;
  padding: 46px 0;
  background-color: var(--dark);
}

.footer-sub__text {
  color: var(--gray);
}

.footer-sub__text a {
  border-bottom: 1px solid var(--gray);
}

.footer-sub__text a:hover {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}

.footer-sub__icons a {
  margin-right: 20px;
}

.footer-sub__icons a:last-child {
  margin-right: 0;
}

.footer-sub__icon:hover {
  opacity: .8;
}

.modal-content {
  background-color: var(--black);
  -webkit-box-shadow: 0px 0px 3px 2px #fff9;
          box-shadow: 0px 0px 3px 2px #fff9;
  width: 360px;
  height: auto;
}

.modal .close-modal {
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.modal-form {
  font-size: 24px;
  font-weight: 400;
}

.modal-form__inp {
  height: 56px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 0 16px;
  color: #595959;
}

.modal-form__btn {
  height: 65px;
}

.modal__text {
  color: var(--gray);
}

@media screen and (max-width: 1200px) {
  .header .nav__search {
    width: 250px;
  }
  .header .nav__btn {
    width: auto;
    padding: 0 10px;
    font-size: 14px;
  }
  .header .nav__address {
    font-size: 14px;
  }
  .header .nav .whatsapp {
    font-size: 14px;
  }
  .header .nav .workDay {
    font-size: 11px;
  }
  .header-item__link {
    font-size: 16px;
  }
  .header-list {
    top: 36px;
    width: 160px;
    padding: 10px 5px;
  }
  .header-list__link {
    font-size: 15px;
  }
  .wrapper {
    height: auto;
  }
  .wrapper__sup-text {
    font-size: 24px;
  }
  .wrapper__title {
    font-size: 75px;
    line-height: 75px;
  }
  .slider__title {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-sort {
    width: 250px;
    height: 50px;
    font-size: 18px;
  }
  .slider .owl-carousel {
    margin-top: 70px;
  }
  .slider .owl-carousel .item {
    background-color: #1b1b1b;
    padding: 20px 25px;
  }
  .slider .owl-carousel-list {
    width: 48.5%;
    height: 350px;
  }
  .slider .owl-carousel__title {
    font-size: 50px;
    line-height: 55px;
  }
  .slider .owl-carousel__text {
    font-size: 20px;
  }
  .slider .owl-carousel__btn {
    width: 250px;
    height: 50px;
  }
  .carousel-control-next {
    right: 0px;
  }
  .our-team .meneger {
    height: 450px;
  }
  .our-team .meneger__name {
    font-size: 20px;
  }
  .our-team .meneger__info {
    font-size: 14px;
  }
  .our-team__title {
    font-size: 50px;
    line-height: 50px;
  }
  .our-team__text {
    font-size: 18px;
    line-height: 26px;
  }
  .our-team-list__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .header .nav__address {
    display: none;
  }
  .header-item__link {
    font-size: 14px;
  }
  .header-list {
    top: 34px;
    width: 150px;
    padding: 10px 5px;
  }
  .header-list__link {
    font-size: 14px;
  }
  .wrapper__sup-text {
    font-size: 22px;
  }
  .wrapper__title {
    font-size: 60px;
    line-height: 55px;
  }
  .wrapper-item {
    padding: 15px 20px;
  }
  .wrapper-form__title {
    font-size: 22px;
  }
  .wrapper-form .debt, .wrapper-form__inp {
    font-size: 22px;
  }
  .wrapper-form__btn {
    font-size: 22px;
  }
  .project {
    padding: 100px 0;
  }
  .project .compact__button--big {
    width: 80px;
    height: 50px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    font-size: 30px;
  }
  .project-item {
    padding: 35px 0;
  }
  .project-item .line-right {
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
  }
  .reviews {
    padding: 80px 0 160px 0;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 48px;
  }
  .reviews-info {
    width: 100%;
  }
  .reviews-info__num {
    font-size: 55px;
  }
  .reviews-info__grade {
    font-size: 24px;
  }
  .reviews-info__btn {
    width: auto;
    padding: 0 10px;
    height: 50px;
    font-size: 18px;
    margin-left: 0px;
  }
  .reviews .owl-carousel .item {
    padding: 24px;
  }
  .reviews .owl-carousel .item .user__name {
    font-size: 40px;
  }
  .reviews .owl-carousel-info .review__text {
    font-size: 16px;
  }
  .agreement__title {
    font-size: 40px;
  }
  .agreement-item {
    width: 30%;
  }
  .agreement-item .circle {
    font-size: 32px;
  }
  .footer-item__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .footer-contact__phone {
    font-size: 32px;
  }
  .footer-contact__email {
    font-size: 32px;
  }
  .footer-contact__address {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper__sup-text {
    text-align: center;
  }
  .wrapper__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .wrapper-item {
    padding: 15px 20px;
  }
  .wrapper-form__title {
    font-size: 22px;
  }
  .wrapper-form .debt, .wrapper-form__inp {
    font-size: 22px;
  }
  .wrapper-form__btn {
    font-size: 22px;
  }
  .wrapper-sub-line {
    right: 0;
    width: 100%;
    height: 4px;
    top: 100%;
  }
  .wrapper .cons_icon {
    margin-right: 15px;
  }
  .slider__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
  }
  .slider-sort {
    width: 250px;
    height: 50px;
    font-size: 18px;
  }
  .slider .owl-carousel .item {
    padding: 20px 15px;
  }
  .slider .owl-carousel-list {
    width: 100%;
    height: auto;
  }
  .slider .owl-carousel-list:nth-child(2) {
    height: 300px;
  }
  .slider .owl-carousel__title {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0;
  }
  .slider .owl-carousel__text {
    font-size: 20px;
  }
  .slider .owl-carousel__btn {
    margin-top: 20px;
  }
  .owl-next {
    right: -15px;
  }
  .our-team .meneger {
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team .meneger__name {
    font-size: 24px;
  }
  .our-team .meneger__info {
    font-size: 16px;
  }
  .our-team__title {
    font-size: 32px;
    line-height: 32px;
    margin-top: 24px;
  }
  .our-team__text {
    font-size: 18px;
    line-height: 26px;
  }
  .our-team-list__text {
    font-size: 16px;
  }
  .our-team__btn {
    width: 90%;
  }
  .agreement__title {
    font-size: 40px;
  }
  .agreement-item {
    width: 50%;
  }
  .news {
    padding-top: 24px;
    padding-bottom: 120px;
  }
  .news__title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    width: 100%;
  }
  .news__allBtn {
    position: absolute;
    bottom: 24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .news-item {
    margin-top: 24px;
  }
  .news-item-photo {
    height: 236px;
  }
  .news-item-info__title {
    font-size: 24px;
    line-height: 26px;
  }
  .news-item-info__text {
    font-size: 16px;
    line-height: 20px;
  }
  .news-item-info-last__title {
    font-size: 24px;
    line-height: 26px;
  }
  .news-item-info-last__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .header .nav__search-mobile {
    width: 150px !important;
  }
  .mobile-menu {
    width: 100%;
  }
  .wrapper__sup-text {
    font-size: 16px;
  }
  .wrapper__title {
    font-size: 40px;
    line-height: 48px;
  }
  .wrapper-item {
    padding: 16px;
  }
  .wrapper-form__title {
    font-size: 16px;
  }
  .wrapper-form .debt, .wrapper-form__inp {
    font-size: 16px;
  }
  .wrapper-form__btn {
    font-size: 16px;
  }
  .wrapper-sub-line {
    right: 0;
    width: 100%;
    height: 4px;
    top: 100%;
  }
  .wrapper .cons_icon {
    margin-right: 15px;
  }
  .slider-sort {
    width: 100%;
  }
  .slider-sort:nth-child(2) {
    margin-top: 15px;
  }
  .slider-btns {
    width: 100%;
  }
  .slider .owl-carousel .item {
    padding: 24px;
  }
  .slider .owl-carousel-list:nth-child(2) {
    height: 200px;
  }
  .slider .owl-carousel__title {
    font-size: 32px;
    line-height: 40px;
    margin: 15px 0;
  }
  .slider .owl-carousel__text {
    font-size: 16px;
  }
  .slider .owl-carousel__btn {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }
  .slider__sub-text {
    font-size: 16px;
  }
  .carousel-control-next {
    right: 0px;
  }
  .questions__title {
    font-size: 32px;
  }
  .questions__sub-title {
    font-size: 16px;
  }
  .questions-form__inp {
    width: 100%;
    font-size: 16px;
  }
  .questions-form__btn {
    width: 100%;
    font-size: 16px;
  }
  .project {
    padding: 40px 0;
  }
  .project .compact__button--big {
    width: 54px;
    height: 36px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    font-size: 25px;
  }
  .project .compact__controls {
    width: 90%;
    padding: 2px;
  }
  .project .compact__controls .progress {
    height: 4px;
  }
  .reviews {
    padding: 80px 0;
    padding-top: 0;
    position: relative;
  }
  .reviews__title {
    font-size: 32px;
    line-height: 38px;
  }
  .reviews-info {
    position: absolute;
    left: 0;
    bottom: 30px;
  }
  .reviews-info__num {
    font-size: 64px;
  }
  .reviews-info__btn {
    width: 100% !important;
    height: 50px;
    font-size: 16px;
    margin-left: 0;
  }
  .reviews .owl-carousel {
    margin-bottom: 130px;
  }
  .reviews .owl-carousel .item {
    padding: 24px;
  }
  .reviews .owl-carousel .item .user__name {
    font-size: 32px;
    margin-left: 10px;
  }
  .reviews .owl-carousel-info {
    padding-left: 0;
  }
  .reviews .owl-carousel-info .review__text {
    font-size: 16px;
  }
  .our-team {
    padding-bottom: 24px;
  }
  .our-team .meneger {
    width: 75%;
  }
  .our-team-list {
    width: 100%;
    text-align: start;
  }
  .our-team-list__text {
    font-size: 16px;
  }
  .our-team__btn {
    width: 90%;
  }
  .agreement {
    padding: 24px 0;
  }
  .agreement__title {
    font-size: 32px;
    margin: 0;
  }
  .agreement-item {
    width: 100%;
    margin-top: 25px;
  }
  .agreement-item .circle {
    margin-bottom: 8px;
  }
  .agreement-item .lines {
    display: none !important;
  }
  .footer .mobile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-item:last-child {
    margin-top: 24px;
  }
  .footer-contact__phone, .footer-contact__email, .footer-contact__address {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .our-team .meneger {
    width: 90%;
  }
}
